body {
  margin: 0;
  color: #585858;
  background-color: #0A0A0A;
}

.alphabet {
  width: 46%;
  counter-reset: sum 6;
}

.hangman {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 600px;
  height: 600px;
}

.answer {
  position: absolute;
  bottom: 50px;
  left: 50px;
  margin: 0 auto;
}

.answer div {
  display: inline-block;
  border-bottom: 3px solid #585858;
}

.answer:after {
  content: counter(sum);
  position: absolute;
  bottom: 150px;
  color: #d9d3d3;
  height: 100px;
  width: 100px;
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 5.5em;
  margin: 8px;
  border-radius: 4px;
  border: solid 2px rgba(255, 255, 255, .4);
  background-color: rgba(255, 255, 255, .2);
}

.pop-up {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 0;
  text-align: center;
}

.pop-up h1 {
  font-size: 5em;
}

#win {
  visibility: visible;
}

#game-over {
  visibility: hidden;
}

#win, #game-over {
  background-color: rgba(222,222,222,0.7);
  color: #222;
}

.reload {
  color: #000000;
  padding: 15px 30px;
  text-align: center;
  font-size: 2.8em;
  cursor: pointer;
  text-decoration: none;
  border-radius: 40px;
  border: solid 2px #fff;
  background-color: rgba(255, 255, 255, 0.7);
}

/* hide default checkbox */
input:not([type="button"]) {
  position: absolute;
  top: -999px;
  left: -999px;
}

/* create custom labels */
.letter {
  color: #d9d3d3;
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 2.8em;
  cursor: pointer;
  margin: 8px;
  border-radius: 4px;
  border: solid 2px rgba(255, 255, 255, .4);
  background-color: rgba(255, 255, 255, .1);
  cursor: pointer;
  transition: all .1s;
}

/* change bg color of letter on click */
input:checked + label.bad {
  pointer-events: none;
  background-color: #0A0A0A;
  color: #555252;
  border: solid 2px hsla(0, 100%, 67%, 1);
  box-shadow: 0 0 2rem 0.5rem hsla(0, 50%, 59%, .7);
}
input:checked + label.good {
  pointer-events: none;
  background-color: #0A0A0A;
  color: #555252;
  border: solid 2px hsl(120, 100%, 65%);
  box-shadow: 0 0 3rem 0.5rem hsla(120, 95%, 62%, 0.61);
}

input.bad:checked {
  counter-increment: sum -1;
}

input.good:not(:checked) ~ #win {
  visibility: hidden;
}

input.bad:checked ~ input.bad:checked ~ input.bad:checked ~ input.bad:checked ~ input.bad:checked ~ input.bad:checked ~ #game-over {
  visibility: visible;
}

input.bad:checked ~ .hangman .head {
  visibility: visible;
}
input.bad:checked ~ input.bad:checked ~ .hangman .corp  {
  visibility: visible;
}
input.bad:checked ~ input.bad:checked ~ input.bad:checked ~ .hangman .cloak-left, input.bad:checked ~ input.bad:checked ~ input.bad:checked ~ .hangman .cloak-right {
  visibility: visible;
}
input.bad:checked ~ input.bad:checked ~ input.bad:checked ~ input.bad:checked ~ .hangman .grip {
  visibility: visible;
}
input.bad:checked ~ input.bad:checked ~ input.bad:checked ~ input.bad:checked ~ input.bad:checked ~ .hangman .blade {
  visibility: visible;
}

input.bad:checked ~ input.bad:checked ~ input.bad:checked ~ input.bad:checked ~ input.bad:checked ~ input.bad:checked ~ .hangman .sword {
  top: 260px;
  left: 300px;
  transform: rotate(130deg);
}

.next:checked ~ .second-word {
  visibility: visible;
}

.second-word *{
  visibility: none;
}

.second-word {
  position: absolute;
  top: 0;
  left: 0;
  color: #585858;
  background-color: #0A0A0A;
  height: 100%;
}
